:root {
  --hex-black-1: #252423;
  --hex-black-2: #252423;
  --hex-black-3: #252423;
  --hex-black-4: #262422;
  --hex-black-5: #262422;
  --hex-black-6: #262422;
  --hex-black-7: #262422;
  --hex-black-8: #262422;
  --hex-white-1: #f6f4f2;
  --hex-white-2: #cccac9;
  --hex-white-3: #85837e;
  --hex-white-4: #706e69;
  --hex-white-5: #5b5855;
  --hex-white-6: #4a4745;
  --hex-white-7: #3b3937;
  --hex-white-8: #2c2a28;
  --hex-red-1: #ff4b4b;
  --hex-red-2: #d34343;
  --hex-red-3: #883534;
  --hex-red-4: #723130;
  --hex-red-5: #5d2d2c;
  --hex-red-6: #4b2a29;
  --hex-red-7: #3c2726;
  --hex-red-8: #2d2423;
  --hex-corail-1: #ff7d36;
  --hex-corail-2: #d36b32;
  --hex-corail-3: #884c2b;
  --hex-corail-4: #724329;
  --hex-corail-5: #5d3a27;
  --hex-corail-6: #4b3325;
  --hex-corail-7: #3c2d24;
  --hex-corail-8: #2d2723;
  --hex-orange-1: #ffa828;
  --hex-orange-2: #d38e27;
  --hex-orange-3: #885f24;
  --hex-orange-4: #725224;
  --hex-orange-5: #5d4523;
  --hex-orange-6: #4b3a23;
  --hex-orange-7: #3c3123;
  --hex-orange-8: #2d2822;
  --hex-yellow-1: #ffcc2a;
  --hex-yellow-2: #d3aa29;
  --hex-yellow-3: #887025;
  --hex-yellow-4: #725f24;
  --hex-yellow-5: #5d4e24;
  --hex-yellow-6: #4b4123;
  --hex-yellow-7: #3c3523;
  --hex-yellow-8: #2d2922;
  --hex-citrus-1: #f9f640;
  --hex-citrus-2: #cfcc3a;
  --hex-citrus-3: #85842f;
  --hex-citrus-4: #706f2c;
  --hex-citrus-5: #5b5a29;
  --hex-citrus-6: #4a4927;
  --hex-citrus-7: #3b3a25;
  --hex-citrus-8: #2c2b23;
  --hex-lime-1: #b7ff54;
  --hex-lime-2: #9ad34a;
  --hex-lime-3: #678838;
  --hex-lime-4: #587233;
  --hex-lime-5: #4a5c2e;
  --hex-lime-6: #3e4a2a;
  --hex-lime-7: #343b27;
  --hex-lime-8: #292c23;
  --hex-green-1: #8dff55;
  --hex-green-2: #78d34b;
  --hex-green-3: #548839;
  --hex-green-4: #497234;
  --hex-green-5: #3f5c2f;
  --hex-green-6: #374a2b;
  --hex-green-7: #2f3b27;
  --hex-green-8: #282c24;
  --hex-turquoise-1: #00ffaa;
  --hex-turquoise-2: #07d38f;
  --hex-turquoise-3: #148760;
  --hex-turquoise-4: #187152;
  --hex-turquoise-5: #1b5c45;
  --hex-turquoise-6: #1e4a3a;
  --hex-turquoise-7: #203b31;
  --hex-turquoise-8: #232c27;
  --hex-cyan-1: #26f2d5;
  --hex-cyan-2: #26c9b1;
  --hex-cyan-3: #248273;
  --hex-cyan-4: #246d61;
  --hex-cyan-5: #245950;
  --hex-cyan-6: #244841;
  --hex-cyan-7: #243a35;
  --hex-cyan-8: #242b28;
  --hex-sky-1: #05dbe9;
  --hex-sky-2: #0bb6c1;
  --hex-sky-3: #17767c;
  --hex-sky-4: #1a6468;
  --hex-sky-5: #1c5256;
  --hex-sky-6: #1f4446;
  --hex-sky-7: #213738;
  --hex-sky-8: #232a2a;
  --hex-sega-1: #33b3f1;
  --hex-sega-2: #3096c8;
  --hex-sega-3: #2a6481;
  --hex-sega-4: #29566c;
  --hex-sega-5: #284858;
  --hex-sega-6: #263c47;
  --hex-sega-7: #253239;
  --hex-sega-8: #24282a;
  --hex-king-1: #4d9cff;
  --hex-king-2: #4584d3;
  --hex-king-3: #365a87;
  --hex-king-4: #324e71;
  --hex-king-5: #2e425b;
  --hex-king-6: #2b3849;
  --hex-king-7: #28303a;
  --hex-king-8: #25282b;
  --hex-indigo-1: #7c85ff;
  --hex-indigo-2: #6b72d3;
  --hex-indigo-3: #4b4f87;
  --hex-indigo-4: #424571;
  --hex-indigo-5: #3a3b5b;
  --hex-indigo-6: #333349;
  --hex-indigo-7: #2d2d3a;
  --hex-indigo-8: #28262b;
  --hex-lavender-1: #a369ff;
  --hex-lavender-2: #8a5bd3;
  --hex-lavender-3: #5e4287;
  --hex-lavender-4: #513b71;
  --hex-lavender-5: #45345b;
  --hex-lavender-6: #3a2f49;
  --hex-lavender-7: #322a3a;
  --hex-lavender-8: #29252b;
  --hex-purple-1: #c06ddf;
  --hex-purple-2: #a15eb9;
  --hex-purple-3: #6b4479;
  --hex-purple-4: #5b3d66;
  --hex-purple-5: #4d3553;
  --hex-purple-6: #402f44;
  --hex-purple-7: #362a37;
  --hex-purple-8: #2b2529;
  --hex-magenta-1: #e962bf;
  --hex-magenta-2: #c256a0;
  --hex-magenta-3: #7e3f69;
  --hex-magenta-4: #6b395a;
  --hex-magenta-5: #57334a;
  --hex-magenta-6: #472e3e;
  --hex-magenta-7: #3a2933;
  --hex-magenta-8: #2c2528;
  --hex-pink-1: #ff718b;
  --hex-pink-2: #d36276;
  --hex-pink-3: #884651;
  --hex-pink-4: #723e46;
  --hex-pink-5: #5d363c;
  --hex-pink-6: #4b3034;
  --hex-pink-7: #3c2b2c;
  --hex-pink-8: #2d2525;
  --hex-bg-1: #252423;
  --hex-bg-2: #2a2928;
  --hex-bg-3: #2f2e2d;
  --hex-bg-4: #353433;
  --hex-bg-5: #3a3938;
  --hex-bg-6: #3f3e3d;
  --hex-bg-7: #444342;
  --hex-fg-1: #f6f4f2;
  --hex-fg-2: #d5d3d1;
  --hex-fg-3: #b4b1af;
  --hex-fg-4: #93908e;
  --hex-fg-5: #625d5b;
  --hex-fg-6: #474543;
  --hex-fg-7: #393735;
  --hex-fg-8: #2c2a28;
}

.theme-color,
[data-color] {
  color: var(--hex-current-1);
}

.color-fg,
[data-color='fg'],
a[target='_blank'] {
  --hex-current-1: var(--hex-fg-1);
  --hex-current-2: var(--hex-fg-2);
  --hex-current-3: var(--hex-fg-3);
  --hex-current-4: var(--hex-fg-4);
  --hex-current-5: var(--hex-fg-5);
  --hex-current-6: var(--hex-fg-6);
  --hex-current-7: var(--hex-fg-7);
  --hex-current-8: var(--hex-fg-8);
}

.color-red,
.color-getting-started,
[data-color='0'] {
  --hex-current-1: var(--hex-red-1);
  --hex-current-2: var(--hex-red-2);
  --hex-current-3: var(--hex-red-3);
  --hex-current-4: var(--hex-red-4);
  --hex-current-5: var(--hex-red-5);
  --hex-current-6: var(--hex-red-6);
  --hex-current-7: var(--hex-red-7);
  --hex-current-8: var(--hex-red-8);
}

.color-corail,
.color-timer,
[data-color='1'] {
  --hex-current-1: var(--hex-corail-1);
  --hex-current-2: var(--hex-corail-2);
  --hex-current-3: var(--hex-corail-3);
  --hex-current-4: var(--hex-corail-4);
  --hex-current-5: var(--hex-corail-5);
  --hex-current-6: var(--hex-corail-6);
  --hex-current-7: var(--hex-corail-7);
  --hex-current-8: var(--hex-corail-8);
}

.color-orange,
.color-animation,
[data-color='2'] {
  --hex-current-1: var(--hex-orange-1);
  --hex-current-2: var(--hex-orange-2);
  --hex-current-3: var(--hex-orange-3);
  --hex-current-4: var(--hex-orange-4);
  --hex-current-5: var(--hex-orange-5);
  --hex-current-6: var(--hex-orange-6);
  --hex-current-7: var(--hex-orange-7);
  --hex-current-8: var(--hex-orange-8);
}

.color-yellow,
.color-timeline,
[data-color='3'] {
  --hex-current-1: var(--hex-yellow-1);
  --hex-current-2: var(--hex-yellow-2);
  --hex-current-3: var(--hex-yellow-3);
  --hex-current-4: var(--hex-yellow-4);
  --hex-current-5: var(--hex-yellow-5);
  --hex-current-6: var(--hex-yellow-6);
  --hex-current-7: var(--hex-yellow-7);
  --hex-current-8: var(--hex-yellow-8);
}

.color-citrus,
.color-animatable,
[data-color='4'] {
  --hex-current-1: var(--hex-citrus-1);
  --hex-current-2: var(--hex-citrus-2);
  --hex-current-3: var(--hex-citrus-3);
  --hex-current-4: var(--hex-citrus-4);
  --hex-current-5: var(--hex-citrus-5);
  --hex-current-6: var(--hex-citrus-6);
  --hex-current-7: var(--hex-citrus-7);
  --hex-current-8: var(--hex-citrus-8);
}

.color-lime,
.color-draggable,
[data-color='5'] {
  --hex-current-1: var(--hex-lime-1);
  --hex-current-2: var(--hex-lime-2);
  --hex-current-3: var(--hex-lime-3);
  --hex-current-4: var(--hex-lime-4);
  --hex-current-5: var(--hex-lime-5);
  --hex-current-6: var(--hex-lime-6);
  --hex-current-7: var(--hex-lime-7);
  --hex-current-8: var(--hex-lime-8);
}

.color-green,
.color-layout,
[data-color='6'] {
  --hex-current-1: var(--hex-green-1);
  --hex-current-2: var(--hex-green-2);
  --hex-current-3: var(--hex-green-3);
  --hex-current-4: var(--hex-green-4);
  --hex-current-5: var(--hex-green-5);
  --hex-current-6: var(--hex-green-6);
  --hex-current-7: var(--hex-green-7);
  --hex-current-8: var(--hex-green-8);
}

.color-turquoise,
.color-scope,
[data-color='7'] {
  --hex-current-1: var(--hex-turquoise-1);
  --hex-current-2: var(--hex-turquoise-2);
  --hex-current-3: var(--hex-turquoise-3);
  --hex-current-4: var(--hex-turquoise-4);
  --hex-current-5: var(--hex-turquoise-5);
  --hex-current-6: var(--hex-turquoise-6);
  --hex-current-7: var(--hex-turquoise-7);
  --hex-current-8: var(--hex-turquoise-8);
}

.color-cyan,
.color-events,
[data-color='8'] {
  --hex-current-1: var(--hex-cyan-1);
  --hex-current-2: var(--hex-cyan-2);
  --hex-current-3: var(--hex-cyan-3);
  --hex-current-4: var(--hex-cyan-4);
  --hex-current-5: var(--hex-cyan-5);
  --hex-current-6: var(--hex-cyan-6);
  --hex-current-7: var(--hex-cyan-7);
  --hex-current-8: var(--hex-cyan-8);
}

.color-sky,
.color-svg,
[data-color='9'] {
  --hex-current-1: var(--hex-sky-1);
  --hex-current-2: var(--hex-sky-2);
  --hex-current-3: var(--hex-sky-3);
  --hex-current-4: var(--hex-sky-4);
  --hex-current-5: var(--hex-sky-5);
  --hex-current-6: var(--hex-sky-6);
  --hex-current-7: var(--hex-sky-7);
  --hex-current-8: var(--hex-sky-8);
}

.color-sega,
.color-text,
[data-color='10'] {
  --hex-current-1: var(--hex-sega-1);
  --hex-current-2: var(--hex-sega-2);
  --hex-current-3: var(--hex-sega-3);
  --hex-current-4: var(--hex-sega-4);
  --hex-current-5: var(--hex-sega-5);
  --hex-current-6: var(--hex-sega-6);
  --hex-current-7: var(--hex-sega-7);
  --hex-current-8: var(--hex-sega-8);
}

.color-king,
.color-utils,
[data-color='11'] {
  --hex-current-1: var(--hex-king-1);
  --hex-current-2: var(--hex-king-2);
  --hex-current-3: var(--hex-king-3);
  --hex-current-4: var(--hex-king-4);
  --hex-current-5: var(--hex-king-5);
  --hex-current-6: var(--hex-king-6);
  --hex-current-7: var(--hex-king-7);
  --hex-current-8: var(--hex-king-8);
}

.color-indigo,
.color-easings,
[data-color='12'] {
  --hex-current-1: var(--hex-indigo-1);
  --hex-current-2: var(--hex-indigo-2);
  --hex-current-3: var(--hex-indigo-3);
  --hex-current-4: var(--hex-indigo-4);
  --hex-current-5: var(--hex-indigo-5);
  --hex-current-6: var(--hex-indigo-6);
  --hex-current-7: var(--hex-indigo-7);
  --hex-current-8: var(--hex-indigo-8);
}

.color-lavender,
.color-waapi,
[data-color='13'] {
  --hex-current-1: var(--hex-lavender-1);
  --hex-current-2: var(--hex-lavender-2);
  --hex-current-3: var(--hex-lavender-3);
  --hex-current-4: var(--hex-lavender-4);
  --hex-current-5: var(--hex-lavender-5);
  --hex-current-6: var(--hex-lavender-6);
  --hex-current-7: var(--hex-lavender-7);
  --hex-current-8: var(--hex-lavender-8);
}

.color-purple,
.color-engine,
[data-color='14'] {
  --hex-current-1: var(--hex-purple-1);
  --hex-current-2: var(--hex-purple-2);
  --hex-current-3: var(--hex-purple-3);
  --hex-current-4: var(--hex-purple-4);
  --hex-current-5: var(--hex-purple-5);
  --hex-current-6: var(--hex-purple-6);
  --hex-current-7: var(--hex-purple-7);
  --hex-current-8: var(--hex-purple-8);
}

.color-magenta,
.color-adapters,
[data-color='15'] {
  --hex-current-1: var(--hex-magenta-1);
  --hex-current-2: var(--hex-magenta-2);
  --hex-current-3: var(--hex-magenta-3);
  --hex-current-4: var(--hex-magenta-4);
  --hex-current-5: var(--hex-magenta-5);
  --hex-current-6: var(--hex-magenta-6);
  --hex-current-7: var(--hex-magenta-7);
  --hex-current-8: var(--hex-magenta-8);
}

.color-pink,
[data-color='16'] {
  --hex-current-1: var(--hex-pink-1);
  --hex-current-2: var(--hex-pink-2);
  --hex-current-3: var(--hex-pink-3);
  --hex-current-4: var(--hex-pink-4);
  --hex-current-5: var(--hex-pink-5);
  --hex-current-6: var(--hex-pink-6);
  --hex-current-7: var(--hex-pink-7);
  --hex-current-8: var(--hex-pink-8);
}

:root {
  --backgroundColor: var(--hex-bg-1);
  --rimColor: #ffc7a8;
  --shadowColor: #212121;
  --worldColor1: #423d3d;
  --outlineColor: #1a1a19;
  --outlineColor: #101010;
  --outlineColorLight: #000000;
  --worldColorLight1: #dad5d0;
  --box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.03), 0 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 1px 0 0 rgba(255, 255, 255, 0.01);
}

html,
body {
  overflow-x: hidden;
  overflow-x: clip;
  width: 100%;
  color: var(--hex-fg-1);
  background-color: var(--hex-bg-1);
}

html {
  scrollbar-gutter: stable;
}

body {
  scrollbar-gutter: stable;
}

input,
button {
  touch-action: manipulation;
}

:root {
  color-scheme: dark;
}
::selection {
  background-color: var(--hex-fg-4);
  color: var(--hex-bg-1);
}
